/*************************************************
* http://www.phpchess.com
**************************************************/

/* General page style. The scroll bar colours only visible in IE5.5+ */
body{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  margin-top : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  margin-left : 0px;
  color:#000000;
  scrollbar-base-color: #D6D6D6;
  background-image : url('../none');
  background-color : #7C7C63; 
  font-style:normal; 
  font-variant:normal;
  font-weight:normal;
  font-size:12px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* General font families for common tags */
font, th, td, p{
  color:#000000; 
  font:12px Verdana,Arial,Helvetica,sans-serif;
}

a:link, a:active, a:visited, a.postlink:link{
  color:#7C7C63;
  text-decoration:none;
}

a:hover{
  color:#000000;
text-decoration:none;
}

.postbody{font-size:12px}

hr{
  border: 0px solid #dddddd;
  border-top-width:1px;
  height:0px
}

/* This is the border line & background colour round the entire page */
.bodyline{
  background-color : #F0F0F0;
  background-image : url('../../skins/phpchess/images/bg_color.gif');
}

/* This is the outline round the main forum tables */
.forumline{
  background:#ffffff url('../../skins/phpchess/images/bg_color.gif');
  border:1px solid #A7A7A7;	
}

/* This is for the error messages that pop up */
.errorline	{
  background-color: #F0F0F0;
  border:1px solid #93927C;
}

/* Main table cell colours and backgrounds */
td.row1{
  background-color : #c0c0c0;
}

td.row2{
  background-color : #d3d3d3;
}

td.row3{
  background-color : transparent;
  background-image : url('../../skins/phpchess/images/row3.gif');
}

/*
This is for the table cell above the Topics,Post & Last posts on the index.php page
By default this is the fading out gradiated silver background.
However,you could replace this with a bitmap specific for each forum
*/
td.rowpic{
  background-image: url('../skins/phpchess/images/cellpic1.gif');
}

.tableheadercolor{
  background: url('../../skins/phpchess/images/cellpic3.gif');
  color: #FDFDFD;
  font-size:11px;
  font-weight:bold;
  height:25px;
  background-color:transparent;
}

.sitemenuheader{
  color: #FDFDFD;
  font-size:11px;
  font-weight:bold;
}

/* Header cells - the blue and silver gradient backgrounds */
th{
  background: url('../../skins/phpchess/images/cellpic3.gif');
  color: #FDFDFD;
  font-size:11px;
  font-weight:bold;
  height:25px;
  background-color:transparent;
}

td.cat, td.cathead, td.catsides, td.catleft, td.catright, td.catbottom{
  background: url('../../skins/phpchess/images/cellpic1.gif');
  border:medium solid #ffffff;
  height:29px;
  background-color:transparent;
}

/*
Setting additional nice inner borders for the main table cells.
The names indicate which sides the border will be on.
Don't worry if you don't understand this,just ignore it:-)
*/
td.cat, td.cathead, td.catbottom{
  border-width:0px 0px 0px 0px;
  height:28px;
}

th.thhead, th.thsides, th.thtop, th.thleft, th.thright, th.thbottom, th.thcornerl, th.thcornerr{
  border:#ffffff;
  border-style:solid;
  font-weight:bold;
  height:28px;
}

td.row3right, td.spacerow{
  background:url('../../skins/phpchess/images/rowpic.gif');
  border:medium none #ffffff;
}

th.thhead, td.cathead{border-width:0px 0px 0px 0px}
th.thsides, td.catsides, td.spacerow{border-width:0px 0px 0px 0px}
th.thright, td.catright, td.row3right{border-width:0px 0px 0px 0px}
th.thleft, td.catleft{border-width:0px 0px 0px 0px}
th.thbottom, td.catbottom{border-width:0px 0px 0px 0px}
th.thtop{border-width:0px 0px 0px 0px}
th.thcornerl{border-width:0px 0px 0px 0px}
th.thcornerr{border-width:0px 0px 0px 0px}

/* The largest text used in the index page title and toptic title etc. */
.maintitle, h1{
  color:#000000;
  font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-decoration:none;
}

.subtitle, h2{
  color:#000000;
  font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-decoration:none;
}

/* General text */
.gen{font-weight:bold}
.genmed{font-size:11px}
.gensmall{font-size:10px}

/* Forum category titles and forum links*/
.cattitle, .forumlink{
  font-weight:bold; 
  letter-spacing:1px;
}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{
  font-size:11px;
  font-weight:bold;
}

/* titles for the topics:could specify viewed link colour too */
.topictitle{
  color:#000000;font-size:11px;
  font-weight:bold;
}

a.topictitle:visited{color:#7C7C63}
a.topictitle:hover{color:#000000}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{color:#111111;font-size:11px}

/* Location,number of posts,post date etc */
.postdetails{color:#222222;font-size:10px}

/* The content of the posts (body of text) */
a.postlink:visited{color:#979781;text-decoration:none}

/* Quote & Code blocks */
.code{
  background:#fafafa;
  border:1px solid #DEDED0;
  color:#818169;
  font:11px Courier,'Courier New',sans-serif;
}

.quote{
  background:#fafafa;
  border:1px solid #AEAE9B;
  color:#444444;
  font:11px/125% Verdana,Arial,Helvetica,sans-serif;
}

/* Copyright and bottom info */
.copyright{font:10px Verdana,Arial,Helvetica,sans-serif;}
a.copyright{color:#444444;}

a.copyright:hover{
  color:#000000;
  text-decoration:underline;
}

/* Form elements */
input, textarea, select{
  border-color:#000000;
  color:#000000;
  font:normal 11px Verdana,Arial,Helvetica,sans-serif;
}

/* The text input fields background colour */
input.post, textarea.post, select{background:#ffffff;}

input{text-indent:2px;}

/* The buttons used for bbCode styling in message post */
input.button{
  background:#efefef; 
  color:#000000; 
  font:11px Verdana,Arial,Helvetica,sans-serif;
  CURSOR: hand;
}

/* The main submit button option */
input.mainoption{
  background:#fafafa;
  font-weight:bold;
  CURSOR: hand;
}

/* None-bold submit button */
input.liteoption{
  background:#fafafa;
  font-weight:normal;
  CURSOR: hand;
}

.helpline{
  background:#DAD9CB;
  border-style:none;
}